@import "src/app/@shared/styles/common.scss";

.chat-content-receiver {
  width: 98%;

  .chat-content-receiver-avatar {
    margin: 10px;
    text-align: center;
  }

  .chat-content-receiver-text {
    div {
      margin-top: 10px;
    }

    .chat-content-receiver-nickname {
      font-weight: bold;

      .chat-content-receiver-time {
        margin-left: 10px;
        color: $devui-aide-text;
        font-weight: normal;
      }
    }
  }

  .chat-content-receiver-text-message-content {
    span {
      background-color: $devui-default-bg;
      border-radius: $devui-border-radius;
      padding: 5px;
    }
  }


  .chat-content-receiver-voice-message-content {
    img {
      height: 20px;
      margin: 5px;
    }
  }

  .chat-content-receiver-news-item-message-content {
    min-width: 200px;
    max-width: 250px;
    border-radius: $devui-border-radius;
    border: 1px solid $devui-line;
    text-align: left;
    background-color: $devui-global-bg;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;

    .chat-content-receiver-news-item-message-content-description {
      img {
        padding: 10px;
        max-width: 100px;
      }
    }
  }
}

