@import "src/app/@shared/styles/common.scss";

.chat-sidebar-avatar {
  padding-bottom: 10px;
  &:hover {
    cursor: pointer;
    background-color: $devui-list-item-hover-bg;
  }
}

.active {
  color: $devui-primary-active;
  background-color: $devui-list-item-hover-bg;
}

.last-message-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $devui-aide-text;
}

.last-message-time {
  text-align: center;
}
