<div #chatSidebarHeader class="chat-sidebar-header">
  <d-badge [showDot]="true" [status]="isOnline ? 'success': 'waiting'">
    <d-avatar [name]="customer.username" [gender]="'Female'"></d-avatar>
  </d-badge>
  <span *ngIf="!isOnline"> 正在链接... </span>
</div>
<div class="chat-sidebar-content" [style.height.px]="sidebarTabHeight">
  <d-tabs [(activeTab)]="activeTab" type="slider">
    <d-tab id="chat-list">
      <ng-template dTabTitle>
        聊天列表
      </ng-template>
      <ng-template dTabContent>
        <div
            [style.height.px]="sidebarTodayChatContentHeight"
            style="overflow: auto"
            dLazyLoad
            [enableLazyLoad]="true"
            (loadMore)="onloadMore($event)"
        >
          <app-chat-sidebar-user
              *ngFor="let item of lastMessage"
              [lastMessage]="item"
              (click)="selectUser(item.user)"
              [activeOpenid]="activeOpenid"
          ></app-chat-sidebar-user>
        </div>
      </ng-template>
    </d-tab>
    <d-tab id="chat-all">
      <ng-template dTabTitle>
        全部会话
      </ng-template>
      <ng-template dTabContent>
        <app-chat-sidebar-accordion>
        </app-chat-sidebar-accordion>
      </ng-template>
    </d-tab>
  </d-tabs>
</div>
