@import "src/app/@shared/styles/common.scss";

.chat-content-header {
  .chat-content-header-nickname {
    font-weight: bold;
  }

  .chat-content-header-remark {
    color: $devui-aide-text;
  }
}

.chat-content-record {
  overflow: scroll;

  .chat-content-record-tips {
    text-align: center;
    margin: 20px;
    color: $devui-aide-text;
  }
}

.chat-content-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;

  .chat-content-bottom-toolbar {
    font-size: large;
    background-color: $devui-highlight-overlay;
    border: 1px solid $devui-line;
    em {
      padding-left: 5px;
    }
  }

  .chat-content-bottom-textarea {
    width: 100%;
  }

  .chat-content-bottom-send {
    padding: 5px;
  }
}

.chat-content-not-active {
  background-color: $devui-global-bg;
  font-size: xxx-large;
  text-align: center;
  color: $devui-aide-text;

  .chat-content-not-active-tips {
    font-size: large;
  }
}
