<section [style.height.px]="chatToolbarHeight">
  <d-tabs [type]="'tabs'" [(activeTab)]="tabProduct" (activeTabChange)="activeTabChange($event)">
    <d-tab id="tabProduct" title="商品推荐" tabId="tabProduct">
      <ng-template dTabContent>
        <div class="chat-toolbar-tab-content" [style.height.px]="tabContentHeight">
          <p>Tab1 Content</p>
          <p>Tab1 Content</p>
          <p>Tab1 Content</p>
          <p>Tab1 Content</p>
          <p>Tab1 Content</p>
          <p>Tab1 Content</p>
          <p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p>
          <p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
          <p>Tab1 Content</p><p>Tab1 Content</p>
        </div>
      </ng-template>
    </d-tab>

    <d-tab id="tabOrder" title="最新订单" tabId="tabOrder">
      <ng-template dTabContent>
        <div class="chat-toolbar-tab-content" [style.height.px]="tabContentHeight">
          <p>Tab2 Content</p>
        </div>
      </ng-template>
    </d-tab>

    <d-tab id="tabQuick" title="快捷回复" tabId="tabQuick">
      <ng-template dTabContent>
        <div class="chat-toolbar-tab-content" [style.height.px]="tabContentHeight">
          <p>Tab3 Content</p>
        </div>
      </ng-template>
    </d-tab>
  </d-tabs>
</section>
